version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: nostoc
      MONGO_INITDB_ROOT_PASSWORD: gbrgjkhkebrbqj
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    depends_on:
      - mongodb
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: "mongodb://nostoc:gbrgjkhkebrbqj@mongodb:27017/memoryball?authSource=admin"
      NODE_ENV: development
    volumes:
      - ./Backend:/home/node/app
      - /home/node/app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_BACKEND_URL=http://backend:5000

volumes:
  mongo_data: